
  .image-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .blog-container a:not(.btn) {
    color: #999;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
  }
  
  .image-wrapper img {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
  }
  
  .image-wrapper:hover .image-overlay {
    opacity: .9;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  
  
  .post-like {
    float: right;
    cursor: pointer;
  }
  
  .headline {
    margin: 20px 0;
    padding: 5px 0 10px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
  }
  
  /* h4, .h4 {
    font-size: 18px;
  } */
  
  .media, .media-body {
    overflow: hidden;
    zoom: 1;
  }